<form method="post" action="">
    <div class="form-group">
        <label for="search">Từ khóa</label>
        <input type="text" name="q" class="form-control" id="search" placeholder="Enter sentence">
    </div>
    <div class="form-group">
        <label for="search">Mật khẩu</label>
        <input type="password" name="psw" class="form-control" id="search" placeholder="Enter password">
    </div>

    <div style="height: 10px;"></div>

    <button type="submit" class="btn btn-primary">Submit</button>
</form>